@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

/* ---------------- GENERAL STYLE ---------------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    background: linear-gradient(-45deg, rgb(16, 75, 131), rgb(2, 45, 82), rgb(71, 119, 163), rgb(19, 58, 95));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

main {
    display: grid;
    align-items: center;
    gap: 0px;
}

article, header {
    padding: 5px;
    text-align: center;
}

button {
    /*cursor: pointer;*/
    outline: none;
}


/* -------------------- HEADER -------------------- */
header {
    padding: 20px;
}

h1 {
    font-size: 3em;
    font-family: 'Ranchers', cursive;
    text-shadow: 2px 2px 2px black;
}

/* --------------- COUNTER AND SCORE --------------- */
#sec-counter-score {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: flex-start;
    background: #d6893f;
    border-top: 2px solid rgb(240, 236, 236);
    border-bottom: 2px solid rgb(229, 226, 226)
}

#counter, #score { 
    padding-top: 20px;
    padding-bottom: 20px;
}

#score {
    border-left: 1px dotted white;
}

#counter-lbl-title, #score-lbl-title {
    font-size: 20px;
    display: grid;
    color: #4f221a; 
}

#counter-lbl, #score-lbl {
    font-size: 2em;
    font-weight: bold;
    color: #4f221a; 
}


/* --------------------- COOKIE --------------------- */
#sec-cookie {
    height: 100%;
    display: grid;
    grid-template-rows: auto; 
}

#cookie, #cookie-btn {
    border: none;
    background: transparent;
    overflow: hidden;
}

#cookie-img {
    width: 90%;
    margin: 10px;
    z-index: 1;
}

/*
#cookie-img:hover {
    content: url("img/cookie-cracked.png") 
}
*/





/* --------------------- BUTTONS --------------------- */
#sec-buttons { 
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas:
    "autoclick"
    "multiplier"
    "bonus" 
}

.thebtns {
    background-color: rgb(2, 34, 61);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 70px;
    box-shadow: inset -4px -4px 5px  rgb(3, 16, 27);
}

.thebtns:hover {
    box-shadow: inset -10px -10px 20px  rgb(3, 16, 27);
}

.btn-title {
    font-size: 20px;
}

.p-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#autoclick {
    grid-area: autoclick;
}

#multiplier {
    grid-area: multiplier;
}


#bonus {
    grid-area: bonus;
}

#floating-cookies {
    visibility: hidden;
}


/* --------------------- FOOTER ---------------------- */

footer {
    margin-top: 15px;
    text-align: center;
    padding: 12px;
    border-top: 1px solid white;
    background-color: rgb(245, 238, 238, 0.1);
}

footer p {
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color:  rgb(2, 34, 61);
    padding: 5px;
    border-radius: 5px;
}



/* -------------- ADAPTING SCREEN SIZES -------------- */


@media screen and (min-width: 800px) {
    
    /* general */
    main {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 100px 1fr;
   }

   /* header */
    h1 {
        font-size: 4em;
    }

   /* counter and score */
   #sec-counter-score {
        grid-column: span 2;
   }

   #counter, #score {
        grid-template-columns: 2fr;
       
   }

   /* cookie */


   /* buttons */
   #sec-buttons {  
        grid-template-columns: 1fr;
        grid-template-areas:
        "autoclick"
        "multiplier"
        "bonus";
   }  

   .thebtns {
        padding: 25px;
        width: 50%;
        height: 100px;
   }

   footer {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        text-align: center;
   }

   footer p {
        margin-bottom: 0px;
    }

}


@media screen and (min-width: 801px) { 
   /* floating cookies */
   #floating-cookies {
        visibility: visible;
        position: relative;
        height: 65%;
    }
    
    .float-cookie {
        position: absolute;
        width: 5%;
        animation: fall 5s linear infinite;
    }

    .float-cookie-1 {
        top: 200px;
        left: 5%;
        animation-delay: 2s;
    }

    .float-cookie-2 {
        top: 100px;
        right: 3%;
    }

    .float-cookie-3 {
        top: 70px;
        left: 20%;
        animation-delay: 4s;
    }

    .float-cookie-4 {
        top: 200px;
        right: 5%;
        animation-delay: 1s;
    }

    .float-cookie-5 {
        top: 400px;
        left: 12%;
        animation-delay: 3s;
    }

    .float-cookie-6 {
        top: 300px;
        right: 10px;
        animation-delay: 2s;
    }

    .float-cookie-7 {
        top: 25px;
        left: 10%;
        animation-delay: 4s;
    }

    .float-cookie-8 {
        top: 40px;
        right: 16%;
        animation-delay: 3s;
    }

    .float-cookie-9 {
        top: 300px;
        left: 15%;
        animation-delay: 4s;
    }

    .float-cookie-10 {
        top: 350px;
        right: 13%;
        animation-delay: 1s;
    }

    .float-cookie-11 {
        top: 410px;
        right: 5%;
        animation-delay: 3s;  
    }

    @keyframes fall{
        0% {
            opacity: 0;
            top: 50%;
            transform: translateY(-10px) rotate(30deg);
            transform: translateX(-5%) rotate(0deg);
        }
        40% {
            opacity: 0.9;
            transform: translateY(40px) rotate(20deg);
            transform: translateX(-10%) rotate(90deg);
        }
        100% {
            opacity: 1;
            transform: translateY(-10px) rotate(30deg);
            transform: translateX(-5%) rotate(225deg);
        }
    }

}
